body
{
    margin: 0;
    background-color: green;
    color: white;
}

.jumbotron
{
    color: navy;
}

.footer
{
    position: absolute;
    bottom:  0px;
    padding: 10px;
    background-color: green;
}

.container
{
  background-color: blueviolet;  
}