html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  overflow: hidden;
}

/* 
  Rotate the canvas area so that the letters appear mirrored 
*/
#matrix {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  max-width: 100%;
}